<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{%  block head %}
    <head>
        {# Подключение .css  #}
        <link type="text/css" href="http://bootstrap-ru.com/assets/css/bootstrap.css" rel="stylesheet"/>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {# Подключение javascript #}
        {#  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>#}
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.js"></script>

        <script type="text/javascript" src="bootstrap-ru.com/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://bootstrap-ru.com/assets/js/jquery.js"></script>
        <script type="text/javascript" src="http://bootstrap-ru.com/assets/js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="http://bootstrap-ru.com/assets/js/bootstrap-popover.js"></script>
        <script type="text/javascript" src="http://bootstrap-ru.com/assets/js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="http://bootstrap-ru.com/assets/js/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="http://bootstrap-ru.com/assets/js/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="http://bootstrap-ru.com/assets/js/bootstrap-scrollspy.js"></script>
        <script type="text/javascript" src="http://bootstrap-ru.com/assets/js/bootstrap-alert.js"></script>

{#          <script type="text/javascript" src="http://www.xiper.net/examples/js-plugins/forms/autoresize/js/autoresize-mod.jquery.js"></script>#}

        <title></title>
    </head>
{% endblock %}

{% block wrapper %}
    {% block header %}
        <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        {{ user.username }}
                        {% if user.first_name and user.last_name  %}
                            ({{ user.first_name }} {{ user.last_name }})
                        {% endif %}
                    </p>
                    <ul class="nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Кабинет <b class="caret"></b></a>
                            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                <li><a href="/cabinet">Мой кабинет</a></li>
                                <li><a href="/edit">Редактировать мой кабинет</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Счета <b class="caret"></b></a>
                            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                <li><a href="/my_billings">Мои счета</a></li>
                                <li><a href="/add-new-billing">Добавить новый счет</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Категории <b class="caret"></b></a>
                            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                <li><a href="/my_categories">Мои категории</a></li>
                                <li><a href="/add_new_category">Добавить новую категорию</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Транзакции <b class="caret"></b></a>
                            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                <li><a href="/transaction">Провести транзакцию (приход/расход)</a></li>
                                <li><a href="/transaction/transfer">Провести трансфер</a></li>
                            </ul>
                        </li>

                        <li><a href="/statement">Статистика</a></li>
                        <li><a href="/logout">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}

{%  block body %}
    <body>

    {% block data %}
        {% block page %}

            <div class="row">
                <div class="span1">
                    {% block left %}
                        <p></p>
                    {% endblock %}
                </div>

                <div class="span10">
                    {% block content %}
                        <p></p>
                    {% endblock %}
                </div>

                <div class="span1">
                    {% block right %}
                        <p></p>
                    {% endblock %}
                </div>
            </div>
        {% endblock page %}

    {% endblock data %}

    </body>
{% endblock body %}
</div>
{% endblock wrapper %}
</html>