<!DOCTYPE html>
<html>
<head>
    <title>мои счета</title>
</head>
<body>
<a href="/cabinet/">В кабинет</a><br/>
<a href="/my_billings/add_new_billing/">Добавить новый счет</a><br/>

<h4>Список счетов</h4>

<table>

<th style="width: 20%">название</th>
<th style="width: 20%">валюта</th>
<th style="width: 20%">баланс</th>

{% for i in user_billings %}
    <tr>
        <td>{{ i.billing_name }}</td>
        <td>{{ i.billing_type.get_billing_type_display() }}</td>
        <td>{{ i.money }} {{ i.currency.get_currency_display() }}</td>
    </tr>
{% endfor %}
</table>

</body>
</html>