<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <title>Графики</title>
</head>

<body>

{% block content %}
    <ul>
        <li><a id="result_chart_btn" href="/statement">ПОСМОТРЕТЬ ТАБЛИЦУ</a></li>
    </ul>
    <script type="text/javascript">
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Расходы по категориям'
                },
                xAxis: {
                    categories:
                            [
                            {% for i in dsfgfgtg %}
                                {{ i }},
                            {% endfor %}
                            ]

{#                            ['Ольге',#}
{#                            'кв.пл.',#}
{#                            'питание',#}
{#                            'вкусности',#}
{#                            'проезд',#}
{#                            'сигареты',#}
{#                            'кафе работа',#}
{#                            'связь',#}
{#                            'детям',#}
{#                            'подарки',#}
{#                            'хозяйство',#}
{#                            'развлечения',#}
{#                            'аптека']#}
                },
                yAxis: {
                    title: {
                        text: 'RUR'
                    }
                },
                series: [{
                    name: '',
                    data:
                            [
                                {% for i in money %}
                                    {{ i }},
                                {% endfor %}
                            ]

{#                        [13000,#}
{#                        2411,#}
{#                        9414,#}
{#                        1749,#}
{#                        3350,#}
{#                        1719,#}
{#                        5058,#}
{#                        700,#}
{#                        457,#}
{#                        1268,#}
{#                        1264,#}
{#                        4449,#}
{#                        1291]#}
                }]
            });
        });
    </script>




<script src="http://code.highcharts.com/highcharts.js"></script>
<div id="container" style="height: 600px"></div>
{% endblock content %}
</body>
</html>